@page "/podium"
@page "/podium/{UserName}/{PinCode}"

<PageTitle>Podium</PageTitle>



<h1>You are @UserName</h1>

<h2>Your pin code is @PinCode</h2>

<h3>
@userId = GetId(@UserName, @PinCode)
@if(userId != 0)
{
    <p>Access Granted</p>
    <p>USER ID: @userId</p>
}
else
{
    <p>Access restricted! Sorry, try again.</p>
}
</h3>




@code {

    [Parameter]
    public string? UserName {get;set;}
    [Parameter]
    public string? PinCode {get;set;}

    private int userId = 0;



    private int GetId(string userName, string pinCode)
    {
        var id = 0;
        if(userName == "Ark" && pinCode == "7589") id = 1;
        if(userName == "Michael" && pinCode == "1295") id = 2;
        if(userName == "Denis" && pinCode == "3462") id = 3;
        return id;
    }

}   