@page "/podium"
@page "/podium/{UserName}/{PinCode}"
@inject IConfiguration Configuration


<PageTitle>Podium</PageTitle>



<h1>You are @UserName</h1>

<h2>Your pin code is @PinCode</h2>

<h3>

@if(userId != 0)
{
    <p>Access Granted</p>
    <p>USER ID: @userId</p>
}
else
{
    <p>Access restricted! Sorry, try again.</p>
}
</h3>


<h4>
    <p>test echo: @testEcho</p>
</h4>


@code {

    [Parameter]
    public string UserName {get;set;}
    [Parameter]
    public string PinCode {get;set;}

    private int userId = 0;

    private string testEcho;

    
    protected override async Task OnInitializedAsync()
    {
        //userId = await GetIdAsync(@UserName, @PinCode);
        //StateHasChanged();

        var connectionString = Configuration.GetConnectionString("DefaultConnection");

        testEcho = connectionString;
    }
    
     



    private async Task<int> GetIdAsync(string userName, string pinCode)
    {
        var id = 0;
        if(userName == "ark" && pinCode == "7589") id = 1;
        if(userName == "michael" && pinCode == "1295") id = 2;
        if(userName == "denis" && pinCode == "3462") id = 3;
        return id;
    }

}   