@page "/podium"
@page "/podium/{UserName}/{PinCode}"
@inject IConfiguration Configuration


<PageTitle>Podium</PageTitle>



<h1>You are <li>@UserName</li>
</h1>

<h2>Your pin code is <li>@PinCode</li>
</h2>

<h3>
    @if (userId is not null)
    {
        <p>Access Granted</p>
        <p>USER ID: @userId</p>
    }
    else
    {
        <p>Access restricted! Sorry, try again.</p>
    }
</h3>

<h4>@((MarkupString)debugOutput)</h4>

@code {

    [Parameter]
    public string? UserName { get; set; }
    [Parameter]
    public string? PinCode { get; set; }


    private string? storageUri;
    private string? accountName;
    private string? storageAccountKey;
    private string? userId;
    private string tableName = "mypodium";
    private string debugOutput = string.Empty;



    protected override async Task OnInitializedAsync()
    {
        storageUri = Configuration.GetConnectionString("DefaultStorageUri");
        accountName = Configuration.GetConnectionString("DefaultAccountName");
        storageAccountKey = Configuration.GetConnectionString("DefaultStorageAccountKey");
        await AuthenticateUser();
    }


    private async Task AuthenticateUser()
    {
        if (storageUri is null or "" || accountName is null or "" || storageAccountKey is null or "") return;
        var authorized = false;
        var tableClient = new TableClient(
        new Uri(storageUri),
        tableName,
        new TableSharedKeyCredential(accountName, storageAccountKey));

        try
        {
            Pageable<TableEntity> queryResultsFilter =
            tableClient.Query<TableEntity>(filter: $"PartitionKey eq '0' and UserName eq '{UserName}'");
            foreach (TableEntity qEntity in queryResultsFilter)
            {
                debugOutput += $"{qEntity.GetString("UserName")}: {qEntity.GetString("PinCode")} <br>";
                if (PinCode == qEntity.GetString("PinCode"))
                {
                    authorized = true;
                    userId = qEntity.GetString("RowKey");
                }
            }
            debugOutput += $"The query returned {queryResultsFilter.Count()} entities. <br>";
        }
        catch
        {
            debugOutput += "Hm... some problems connecting to the Azure Storage Tables... <br>";
        }
        if (authorized)
        {

            debugOutput += "Welllcome! You are authorized... <br>";
        }
        await Task.CompletedTask;
    }





    // obsolete
    private int GetId(string userName, string pinCode)
    {
        var id = 0;
        if (userName == "ark" && pinCode == "7589") id = 1;
        if (userName == "michael" && pinCode == "1295") id = 2;
        if (userName == "denis" && pinCode == "3462") id = 3;
        return id;
    }

}