@page "/rules"


<PageTitle>Rules</PageTitle>

<h1>Rules</h1>

<p>My Dream Podium is a game where you predict the podium of F1 races.</p>

<p>Each player has to predict the first three drivers to finish and the points are awarded as follows:</p>

<p>Exact place: 25 points</p>
<p>One place off: 18 points</p>
<p>Two places off: 15 points</p>

<p>For example, if you predict the first driver to finish in second place, you will get 18 points.</p>
<p>If you predict the first driver to finish in third place, you will get 15 points.</p>
<p>If you predict the first driver to finish in first place, you will get 25 points.</p>
